/* BLOCK */
.ColorKey {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

/* ELEMENT */
.Item_Color {
  display: inline-flex;
  align-items: center;
  margin-right: 4rem;
  padding: 4px;
}

.Color_Box {
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.Unsorted_Color {
  border: 1px solid var(--text-color);
  background-color: var(--white);
}
.Sorted_Color {
  background-color: var(--primary-dark);
}
.Color__clusterA {
  background-color: var(--amber);
}
.Color__clusterB {
  background-color: var(--secondary);
}
.Color__clusterC {
  background-color: var(--red);
}
.Color__clusterD {
  background-color: var(--blue);
}
